<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332711277513-266vtgvtn6vfmqc87qpcq9qoaav9inlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332711277513-266vtgvtn6vfmqc87qpcq9qoaav9inlu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>332711277513-nl8nsbq5lhh944l5vdhd01udjiffjftj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCB42di7-dh4YPQ8jglTbLXB8enfm3fCx8</string>
	<key>GCM_SENDER_ID</key>
	<string>332711277513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankingMobileApp</string>
	<key>PROJECT_ID</key>
	<string>bankingapp-29c5c</string>
	<key>STORAGE_BUCKET</key>
	<string>bankingapp-29c5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332711277513:ios:4e1a8f2f2c324fda5dee18</string>
</dict>
</plist>